mixin featureCard(icon, title, text, href)
  a.card.h-100.text-decoration-none.text-reset(href=href)
    .card-body
      if icon
        i(class=`bi ${icon} fs-3 text-warning d-inline-block mb-3`)
      h3.h6.mb-2= title
      p.text-secondary.small.mb-0= text